* {
padding: 0;
margin: 0;
box-sizing: border-box;
}



body {
    background-color: #202839;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Orbitron', 'Courier New', monospace;
}

.container {
    background: linear-gradient(145deg, #2C3E50, #1a202c);
    padding: 20px 40px;
    border-radius: 20px;
    border: 1px solid #4a5568;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4),
    inset 0 2px 3px rgba(255, 255, 255, 0.05);
    text-align: center;
    min-width: 400px;
}

.title {
    color: #34E7F8;
    font-size: 2.4rem;
    margin: 20px 0 40px 0;
    text-align: center;
    font-weight: bold;
}

.container .days-names {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0 15px 0;
}

.container .days-names li {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #4d696b;
}

.container .days-names li.active {
    color: #34E7F8;
    font-weight: 700;
}

.container .digital-clock {
    margin: 5px 0  15px 0;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 4px;
    color: #34E7F8;
}

.full_year {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #b0f3f9;
    margin: 0;
}

.sign {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: #eee;
  margin-top: 25px;
  text-align: center;
}

.sign span {
    color: #eee;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.sign span:hover {
    color: #34E7F8;
}

    .social-links {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-top: 25px;
    }

    .social-links a {
        color: #a0aec0;
        font-size: 1.5rem;
        transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
    color: #34E7F8;
    transform: translateY(-5px);
}


/* responsive */
@media (max-width: 600px) {
    .container {
        min-width: 0;
        width: 90%;
        padding: 25px 20px;
    }

    .title {
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .container .digital-clock {
        font-size: 3rem;
        letter-spacing: 2px;
    }

    .container .days-names {
        gap: 15px;
    }

    .container .days-names li {
        font-size: 1rem;
    }

    .full_year {
        font-size: 1.2rem;
    }
}

@media (max-width: 380px) {
    .container .digital-clock {
        font-size: 2.3rem;
        letter-spacing: 1px;
    }

    .container .days-names {
        gap: 10px;
    }

    .container .days-names li {
        font-size: 0.9rem;
    }

    .full_year {
        font-size: 1rem;
    }

    .title {
        font-size: 1.8rem;
    }
}
